body{
    background-color: hsl(0, 0%, 98%);
}

/* Modifications de la barre de navigation*/
.topnav {
    overflow: hidden;
    background-color: hsl(0, 0%, 98%);
    color: hsl(0, 0%, 41%);
    text-decoration: none;
    display: flex;
    cursor: pointer;
    font-size: 14px;
}

.featBtn, .compBtn{
    float:left ;
    overflow: hidden;
    color: hsl(0, 0%, 41%);
    font-family: Epilogue;
    font-size: 14px;
    border: none ;
}
.featBtn:hover, .compBtn:hover{
    color: hsl(0, 0%, 8%);
    text-decoration: none;
    cursor: pointer;
}
.features-content a{
    color:hsl(0, 0%, 41%);
    background-color: hsl(0, 0%, 98%);
    font-family: Epilogue;
    text-decoration: none;
    text-align: center;
    font-size: 14px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    display: block;
}
.topnav .featBtn .compBtn{
    color: hsl(0, 0%, 41%);
    background-color: hsl(0, 0%, 98%);
    font-size: 14px;
    font-family: Epilogue;
}
.featBtn .features-content{
    display: block;
}
.company-content a{
    text-decoration: none;
    color: hsl(0, 0%, 41%);
    background-color: hsl(0, 0%, 98%);
    text-align: center;
    font-family: Epilogue;
    font-size: 14px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.features-content:hover,.company-content:hover{
    text-decoration: none;
    background-color: hsl(0, 0%, 98%);
    color: hsl(0, 0%, 41%);
}
.links a{
    font-family: Epilogue;
    text-decoration: none;
    color: hsl(0, 0%, 41%);
    text-align: center;
    font-size: 14px;
}
.links a:hover{
    font-family: Epilogue;
    text-decoration: none;
    color: hsl(0, 0%, 41%);
    text-align: center;
}


/* Boutons Login et Register*/
.btnLog {
    background-color: hsl(0, 0%, 98%);
    color: hsl(0, 0%, 8%);
    font-size: 14px ;
    font-weight: 500;
    font-family: Epilogue;
    padding: 13px 20px 13px 20px;
    text-decoration: none;
    border: hsl(0, 0%, 98%) solid 2px;
    position: relative;
    left: 1300px;
}
.btnLog:hover{
    background-color: hsl(0, 0%, 98%);
    border: hsl(0, 0%, 8%) solid 2px;
    border-radius: 10px ;
    padding: 13px 20px 13px 20px;
    cursor: pointer;
}
/*traiement image*/
@font-face {
    font-family: Epilogue;
    src: url(./assets/font/Epilogue-VariableFont_wght.ttf);
}
.container {
    display: flex ;
    justify-content: center;
}
img {
    width: 500px;
}  
.content{
    width: 500px ;
    font-family: Epilogue;
}
/* traitement de l'écrit*/
h1{
    font-size: 70px;
}
p{
    color: hsl(0, 0%, 41%);
    font-size: 18px;
    text-align: justify;
    line-height: 25px;
    padding-bottom: 30px;
    width: 350px;
}
/*Bouton Learn More*/
.btn {
    color: hsl(0, 0%, 8%);
    background-color: hsl(0, 0%, 98%);
    border: hsl(0, 0%, 98%) solid 1px;
    font-size: 18px;
    text-decoration: none;
    font-weight: 700;
    padding:17px 20px 17px 20px;
    margin: 50px;
}
.btn:hover{
    background-color: hsl(0, 0%, 98%);
    border-radius: 15px ;
    border: hsl(0, 0%, 8%) solid 1px;
    padding:17px 20px 17px 20px;
    cursor: pointer;

}
/*logo bas de page*/
.content img{
    width : 70px ;
    margin: 20px;
}


/*footer*/
.attribution { 
    font-size: 11px; 
    text-align: center; 
    font-family: Epilogue ;
    font-weight: 500;
}
.attribution a { 
    color: hsl(228, 45%, 44%); 
    text-decoration: none;
    font-weight: 500;
}

