/*importation police d'écriture*/
@font-face {
    font-family: Epilogue;
    src: url(./assets/font/Epilogue-VariableFont_wght.ttf);
}
/* couleur du site*/
body{
    background-color: hsl(0, 0%, 98%);
    font-family: Epilogue;
}

/* Modifications de la barre de navigation*/
.topNav {
    overflow: hidden;
    background-color: hsl(0, 0%, 98%);
    color: hsl(0, 0%, 41%);
    text-decoration: none;
    display: flex;
    cursor: pointer;
    font-size: 14px;
    gap: 1rem;
    padding-top: 15px;
}
.topNav a {
    background-color: hsl(0, 0%, 98%);
    color: hsl(0, 0%, 41%);
    text-decoration: none;
    float: left;
    display: block;
}
/*Bouton features*/
.Features{
    float:left
}
.Features .featBtn{
    background-color: hsl(0, 0%, 98%);
    color: hsl(0, 0%, 41%);
    font-size: 14px ;
    font-family: Epilogue;
    text-decoration: none;
    border: none;
}
.features-content a{
    background-color: white;
    color: hsl(0, 0%, 41%);
    font-size: 14px;
    font-family: Epilogue;
    text-decoration: none;
    text-align: center;
    box-shadow: 0px 6px 14px 0px rgba(0,0,0,0.2);
    border-radius: 8px;
    display: none;
}
.topNav:hover, .Features:hover, .featBtn:hover{
    color: hsl(0, 0%, 8%);
}
.features-content a{
    background-color: white;
    color: hsl(0, 0%, 41%);
}
.Features .features-content{
    display: block;
}
/*Bouton company*/
.Company{
    float:left ; 
}
.Company .compBtn{
    background-color: hsl(0, 0%, 98%);
    color: hsl(0, 0%, 41%);
    font-size: 14px ;
    font-family: Epilogue;
    text-decoration: none;
    border: none;
}
.company-content a{
    background-color: white;
    color: hsl(0, 0%, 41%);
    font-size: 14px;
    font-family: Epilogue;
    text-decoration: none;
    text-align: center;
    box-shadow: 0px 6px 14px 0px rgba(0,0,0,0.2);
    border-radius: 8px;
    display: none;
}
.topNav:hover, .Company:hover, .compBtn:hover{
    color: hsl(0, 0%, 8%);
}
.company-content a{
    background-color: white;
    color: hsl(0, 0%, 41%);
}
.Company .company-content{
    display: block;
}
/*Boutons careers et about*/
.Links{
    background-color: hsl(0, 0%, 98%);
    color: hsl(0, 0%, 41%);
    font-family: Epilogue;
    font-size: 14px;
    text-decoration: none;
    display: flex;
}
.Links a{
    margin-right: 35% ;
}
.Links a:hover{
    color: hsl(0, 0%, 8%);
}
.logo {
    width:  5%;
    height: 5%;
    padding: 0 10px 0 10px ;
}


/* Boutons Login et Register*/
.btnLog button {
    background-color: hsl(0, 0%, 98%);
    color: hsl(0, 0%, 8%);
    font-size: 14px ;
    font-weight: 500;
    font-family: Epilogue;
    text-decoration: none;
    border: hsl(0, 0%, 98%) solid 2px;
    padding : 10px 15px 10px 15px ;
    position: relative;
    z-index: 1;
    left : 900px;
}
button:hover{
    background-color: hsl(0, 0%, 98%);
    border: hsl(0, 0%, 8%) solid 2px;
    border-radius: 10px ;
    cursor: pointer;
    padding : 10px 15px 10px 15px ;
}
/*traiement image*/

.container {
    display: flex ;
    justify-content: center;
}
img {
    width: 500px;
}  
.content{
    width: 500px ;
    font-family: Epilogue;
}
/* traitement de l'écrit*/
h1{
    font-size: 70px;
}
p{
    color: hsl(0, 0%, 41%);
    font-size: 18px;
    text-align: justify;
    line-height: 25px;
    padding-bottom: 30px;
    width: 350px;
}
/*Bouton Learn More*/
.btn {
    color: hsl(0, 0%, 8%);
    background-color: hsl(0, 0%, 98%);
    border: hsl(0, 0%, 98%) solid 1px;
    font-size: 18px;
    text-decoration: none;
    font-weight: 700;
    padding:17px 20px 17px 20px;
    margin: 50px;
}
.btn:hover{
    background-color: hsl(0, 0%, 98%);
    border-radius: 15px ;
    border: hsl(0, 0%, 8%) solid 1px;
    padding:17px 20px 17px 20px;
    cursor: pointer;

}
/*logo bas de page*/
.content img{
    width : 70px ;
    margin: 20px;
}


/*footer*/
.attribution { 
    font-size: 11px; 
    text-align: center; 
    font-family: Epilogue ;
    font-weight: 500;
}
.attribution a { 
    color: hsl(228, 45%, 44%); 
    text-decoration: none;
    font-weight: 500;
}

/*Responsive*/ 
